<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.klien_projekttermin"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- User permissions -->
    <user-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/loggakrona"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="map.MapActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="messageFunction.CreateMessage"
            android:label="@string/new_message" >
        </activity>
        <activity
            android:name="messageFunction.DisplayOfConversation"
            android:label="@string/displayConversation" >
        </activity>
        <activity
            android:name="messageFunction.Inbox"
            android:label="@string/inbox" >
        </activity>
        <activity
            android:name="camera.Camera"
            android:label="Camera" >
        </activity>
        <activity
            android:name="logger.LogViewer"
            android:label="@string/title_activity_log_viewer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.klien_projekttermin.MainActivity" />
        </activity>
        <activity
            android:name="assignment.AssignmentOverview"
            android:label="@string/assignmentOverview" >
            </activity>
            <activity
                android:name="messageFunction.DisplayMessage"
                android:label="display" >
            </activity>
            <activity
                android:name="assignment.AddAssignment"
                android:label="@string/addAssignment" >
            </activity>
            <activity
                android:name="assignment.Uppdrag"
                android:label="@string/uppdrag" >
            </activity>

            <!-- Database Content Providers -->
            <provider
                android:name="com.example.klien_projekttermin.databaseProvider.DatabaseContentProviderMessages"
                android:authorities="com.example.klien_projekttermin.databaseProvider.DatabaseContentProviderMessages" />
            <provider
                android:name="com.example.klien_projekttermin.databaseProvider.DatabaseContentProviderContacts"
                android:authorities="com.example.klien_projekttermin.databaseProvider.DatabaseContentProviderContacts" />
            <provider
                android:name="com.example.klien_projekttermin.databaseProvider.DatabaseContentProviderAssignments"
                android:authorities="com.example.klien_projekttermin.databaseProvider.DatabaseContentProviderAssignments" />

            <!-- Communication Module Service -->
            <service android:name="communicationModule.CommunicationService" >
            </service>
    </application>

</manifest>
