<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klient_projekttermin"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.klient_projekttermin.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permissions -->
    <permission
        android:name="com.klient_projekttermin.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/loggakrona"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Receiver -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.klient_projekttermin" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="map.MapActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="messageFunction.CreateMessage"
            android:label="title_activity_create_new_message" >
        </activity>
        <activity
            android:name="messageFunction.Inbox"
            android:label="@string/inbox" >
        </activity>
        <activity
            android:name="messageFunction.DisplayOfConversation"
            android:label="DisplayOfConversation" >
        </activity>
        <activity
            android:name="camera.Camera"
            android:label="Camera" >
        </activity>
        <activity
            android:name="camera.PhotoGallery"
            android:label="@string/title_activity_photo_gallery" >
        </activity>
        <activity
            android:name="logger.LogViewer"
            android:label="@string/title_activity_log_viewer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klient_projekttermin.MainActivity" />
        </activity>
        <activity
            android:name="messageFunction.DisplayMessage"
            android:label="display" >
        </activity>
        <activity
            android:name="assignment.AssignmentOverview"
            android:label="@string/assignmentOverview" >
        </activity>
        <activity
            android:name="assignment.AddAssignment"
            android:label="@string/addAssignment"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="assignment.AssignmentDetails"
            android:label="@string/uppdrag" >
        </activity>
        <activity
            android:name="loginFunction.LogInFunction"
            android:label="@string/title_activity_login_function" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Database Content Providers -->
        <provider
            android:name="database.ContactsContentProvider"
            android:authorities="database.ContactsContentProvider" />
        <provider
            android:name="database.AssignmentsContentProvider"
            android:authorities="database.AssignmentsContentProvider" />
        <provider
            android:name="database.MessagesContentProvider"
            android:authorities="database.MessagesContentProvider" />
         <provider
            android:name="database.AuthenticationContentProvider"
            android:authorities="database.AuthenticationContentProvider" />
        
        <!-- Communication Module Service -->
        <service android:name="communicationModule.CommunicationService" />
        <!-- GCM service -->
        <service android:name=".GCMIntentService" />
    </application>

</manifest>
