<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klient_projekttermin"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:name="android.app.Application"
        android:icon="@drawable/loggakrona"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity
            android:name="map.MapActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="messageFunction.CreateMessage"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_create_new_message" >
        </activity>
        <activity
            android:name="messageFunction.Inbox"
            android:screenOrientation="portrait"
            android:label="@string/inbox" >
        </activity>
        <activity
            android:name="messageFunction.DisplayOfConversation"
            android:screenOrientation="portrait"
            android:label="DisplayOfConversation" >
        </activity>
        <activity
            android:name="camera.CameraMenu"
            android:screenOrientation="portrait"
            android:label="Camera" >
        </activity>
        <activity
            android:name="camera.PhotoGallery"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_photo_gallery" >
        </activity>
        <activity
            android:name="contacts.ContactsBookActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contacts_book" >
        </activity>
        <activity
            android:name="logger.LogViewer"
            android:label="@string/title_activity_log_viewer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klient_projekttermin.MainActivity" />
        </activity>
        <activity
            android:name="messageFunction.DisplayMessage"
            android:screenOrientation="portrait"
            android:label="display" >
        </activity>
        <activity
            android:name="assignment.AssignmentOverview"
            android:screenOrientation="portrait"
            android:label="@string/assignmentOverview" >
        </activity>
        <activity
            android:name="assignment.AddAssignment"
            android:label="@string/addAssignment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name="assignment.AssignmentDetails"
            android:screenOrientation="portrait"
            android:label="@string/uppdrag" >
        </activity>
        <activity
            android:name="sip.CallDialogue"
            android:label="@string/title_activity_incoming_call_dialog" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="login.LogInActivity"
            android:label="@string/title_activity_login_function"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="camera.Album"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="qosManager.QoSInterface"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_qo_sinterface" >
        </activity>
        <!-- Database Content Providers -->
        <provider
            android:name="database.ContactsContentProvider"
            android:authorities="database.ContactsContentProvider" />
        <provider
            android:name="database.AssignmentsContentProvider"
            android:authorities="database.AssignmentsContentProvider" />
        <provider
            android:name="database.MessagesContentProvider"
            android:authorities="database.MessagesContentProvider" />
        <provider
            android:name="database.AuthenticationContentProvider"
            android:authorities="database.AuthenticationContentProvider" />
        <provider
            android:name="database.PictureContentProvider"
            android:authorities="database.PictureContentProvider" />
        <!-- GCM service -->
        <service android:name=".GCMIntentService" />
        <!-- SIP Receiver -->
        <receiver android:name="sip.IncomingCallReceiver" />
        <receiver
            android:name="sip.Darclass"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.klient_projekttermin" />
            </intent-filter>
        </receiver>

        <activity
            android:name="camera.Cam"
            android:label="@string/title_activity_cam"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name="com.klient_projekttermin.GCMIntentService" />
    </application>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.klient_projekttermin.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- SIP permission -->
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- Permissions -->
    <permission
        android:name="com.klient_projekttermin.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- SIP features -->
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

</manifest>
